# Node.js dependencies
node_modules/
ServicePandaProvider/node_modules/
ServicePandaProvider/node_modules.zip

# Build and distribution folders
dist/
build/
*.tar.gz

# OS files
.DS_Store

# Vite config files
vite.config.ts.*

# Server build files
server/public/

# Android specific
ServicePandaProvider/android/.gradle/
ServicePandaProvider/android/build/
ServicePandaProvider/android/app/build/


ServicePanda/android/.gradle/
ServicePanda/android/build/
ServicePanda/android/app/build/

# iOS specific
ServicePandaProvider/ios/Pods/
ServicePandaProvider/ios/Podfile.lock
ServicePandaProvider/ios/build/
ServicePandaProvider/ios/DerivedData/
ServicePandaProvider/ios/*.xcworkspace
ServicePandaProvider/ios/*.xcuserdata

ServicePanda/ios/Pods
ServicePanda/ios/Podfile.lock
ServicePanda/ios/build/
ServicePanda/ios/DerivedData/
ServicePanda/ios/*.xcworkspace
ServicePanda/ios/*.xcuserdata

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Others
*.iml
.idea/
